
@{
    ViewData["Title"] = "ApplicationWorkFlow";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}



<!-- ### $App Screen Content ### -->
<main class='main-content bgc-grey-100'>
    <div id='mainContent'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="bgc-white bd bdrs-3 p-20 mB-20">
                        <div class="card p-10 mB-20">
                            <h4 class="">Application WorkFlow</h4>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-columns">
                <a href="~/Application/CreateApplications" class="card bg-orange fontset bg_color">
                    <div class="card-body text-center">
                        <p class="card-text">Created</p>
                    </div>
                </a>
                <a href="~/Application/VerifiedApplications" class="card bg-lighblue fontset bg_color">
                    <div class="card-body text-center">
                        <p class="card-text">Verified</p>
                    </div>
                </a>
                <a href="~/BCC/BranchCreditCommitteeList" class="card bg-lightgray fontset bg_color">
                    <div class="card-body text-center">
                        <p class="card-text">BCC Pending</p>
                    </div>
                </a>


                <a href="~/Application/DisbursedFiles" class="card bg-lighblue fontset bg_color">
                    <div class="card-body text-center">
                        <p class="card-text">Disbursed</p>
                    </div>
                </a>

                <a href="~/Application/InprocessApplications" class="card bg-lightgray fontset bg_color">
                    <div class="card-body text-center">
                        <p class="card-text">In Process</p>
                    </div>
                </a>
                <a href="~/Application/ScreeningApplications" class="card bg-successlgt fontset bg_color">
                    <div class="card-body text-center">
                        <p class="card-text">Under Screeing</p>
                    </div>
                </a>

                <a href="~/Application/ApplicationDescripantDetail" class="card bg-successlgt fontset bg_color">
                    <div class="card-body text-center">
                        <p class="card-text">Discrepant</p>
                    </div>
                </a>
                <a href="~/Application/ApplicationDeclineDetail" class="card bg-orange fontset bg_color">
                    <div class="card-body text-center">
                        <p class="card-text">Decline</p>
                    </div>
                </a>
                <a href="~/Application/Applications" class="card bg-lighblue fontset bg_color">
                    <div class="card-body text-center">
                        <p class="card-text">Submitted</p>
                    </div>
                </a>

                <a href="~/Application/UnderVerificationApplications" class="card bg-warninglgt fontset bg_color">
                    <div class="card-body text-center">
                        <p class="card-text">Under Verification</p>
                    </div>
                </a>

                <a href="~/Application/ScreenedApplications" class="card bg-orange fontset bg_color">
                    <div class="card-body text-center">
                        <p class="card-text">Screened</p>
                    </div>
                </a>
                <a href="~/BCC/BCCApprovedList" class="card bg-warninglgt fontset bg_color">
                    <div class="card-body text-center">
                        <p class="card-text">BCC Approved</p>
                    </div>
                </a>
            </div>
        </div>
        </div>
    </div>
    </div>
</main>

<!-- ### $App Screen Footer ### -->
