@model TFCLPortal.Applications.DashboardDataDto
@{
    ViewData["Title"] = "Analytics";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<main class='main-content bgc-grey-100' style="padding-top:50px">

    <iframe width="100%" height="700px" src="https://app.powerbi.com/view?r=eyJrIjoiOTRhMjVlZWQtYjI1MC00YmUyLWIyNmYtY2FiNzBkZThmNDBlIiwidCI6IjdkZmEzZWZlLTg5NjctNGRhMy05ODgyLTc1YjQwZjBmNDc4OSIsImMiOjl9&pageName=ReportSection0212a8fc3a8510cec1ea" frameborder="0" allowFullScreen="true"></iframe>

</main>
