
@{
    Layout = null;
}


<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        .title {
            color: green
        }

        .heading {
            border-bottom: 2px solid green;
        }

        .release-body {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        table {
            page-break-inside: auto
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }
    </style>
</head>
<body>


    <div class="container ">

        <div class="row">
            <div class="col-md-3 text-right">
                <img id="Imglogo" src="~/images/TFCLNoBg.png" width="100px">
            </div>
            <div class="col-md-9" style="padding-top:30px">
                <h1>Taleem Finance Company Limited</h1>
            </div>
        </div>

        <div class="row" style="margin-top:50px">
            <div class="col-md-12 text-center">
                <h6>Release Notes</h6>
            </div>

        </div>
        <div class="release">
            <div class="row heading">
                <div class="col-md-6">
                    <h4 class="title">Portal Version : 2.1.17</h4>
                </div>
                <div class="col-md-6 text-right">
                    <h4 class="title">05 Jul 2021</h4>
                </div>
            </div>
            <div class="row release-body">
                <div class="col-md-12">
                    <ul>
                        <li>Updated Installment Payment module, fixed calculation issue.</li>
                        <li>Fixed minor issues.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="release">
            <div class="row heading">
                <div class="col-md-6">
                    <h4 class="title">Portal Version : 2.1.16</h4>
                </div>
                <div class="col-md-6 text-right">
                    <h4 class="title">21 Jun 2021</h4>
                </div>
            </div>
            <div class="row release-body">
                <div class="col-md-12">
                    <ul>
                        <li>Updated MCRC Decisions Panel.</li>
                        <li>Fixed Files uploading issue against applications.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="release">
            <div class="row heading">
                <div class="col-md-6">
                    <h4 class="title">Portal Version : 2.1.15</h4>
                </div>
                <div class="col-md-6 text-right">
                    <h4 class="title">18 Jun 2021</h4>
                </div>
            </div>
            <div class="row release-body">
                <div class="col-md-12">
                    <ul>
                        <li>Updated BCC flow, increased usability.</li>
                        <li>Fixed Files uploading issue against applications.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="release">
            <div class="row heading">
                <div class="col-md-6">
                    <h4 class="title">Portal Version : 2.1.14</h4>
                </div>
                <div class="col-md-6 text-right">
                    <h4 class="title">11 Jun 2021</h4>
                </div>
            </div>
            <div class="row release-body">
                <div class="col-md-12">
                    <ul>
                        <li>Fixed Minor data display issues in Application Details.</li>
                        <li>Added TDS TJS application printing module.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="release">
            <div class="row heading">
                <div class="col-md-6">
                    <h4 class="title">Portal Version : 2.1.13</h4>
                </div>
                <div class="col-md-6 text-right">
                    <h4 class="title">09 Jun 2021</h4>
                </div>
            </div>
            <div class="row release-body">
                <div class="col-md-12">
                    <ul>
                        <li>Fixed Screening / Discrepenting Issues in Sales / Inventory / Purchase Details.</li>
                        @*<li>Updated Print application page.</li>*@
                    </ul>
                </div>
            </div>
        </div>
        <div class="release">
            <div class="row heading">
                <div class="col-md-6">
                    <h4 class="title">Portal Version : 2.1.12</h4>
                </div>
                <div class="col-md-6 text-right">
                    <h4 class="title">07 Jun 2021</h4>
                </div>
            </div>
            <div class="row release-body">
                <div class="col-md-12">
                    <ul>
                        <li>Applied Commas in Dashboard Statistics.</li>
                        <li>Updated Print application page.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="release">
            <div class="row heading">
                <div class="col-md-6">
                    <h4 class="title">Portal Version : 2.1.11</h4>
                </div>
                <div class="col-md-6 text-right">
                    <h4 class="title">03 Jun 2021</h4>
                </div>
            </div>
            <div class="row release-body">
                <div class="col-md-12">
                    <ul>
                        <li>Applied Application Insights.</li>
                        <li>Added Schedule Link on Applications Listing.</li>
                        <li>Printing Page Setup.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="release">
            <div class="release">
                <div class="row heading">
                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.1.10</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">01 Jun 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Fixed Application Printing Issues.</li>
                            <li>Other minor bug fixes.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">
                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.1.9</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">28 May 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Added Loan Installments Listing in Portal.</li>
                            <li>Other minor bug fixes.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">
                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.1.8</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">26 May 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Fixed Calculation issues in Defer Schedule module.</li>
                            <li>Other minor bug fixes.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">
                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.1.7</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">19 May 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Updated Personal Details, Added Age on data submission.</li>
                            <li>Fixed issues in Loan Schedule editing module.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">
                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.1.6</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">19 May 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Fixed issues in Early Settlement Calculations.</li>
                            <li>Fixed issues in Schedule Payment Date.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">
                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.1.5</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">18 May 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Updated business expense details partial page.</li>
                            <li>Fixed Back to Listing Link issue in MCRC.</li>
                            <li>Fixed Recommendation issue in MCRC.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">
                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.1.4</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">06 May 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Added notifications for management approvals.</li>
                            <li>Fixed issues in schedule creations.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">
                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.1.3</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">28 April 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Fixed Co Applicant & Guarantor Details discrepency issue.</li>
                            <li>Applied pagination in MCRC Decisions listing.</li>
                            <li>Fixed Application created to inprocess state change issue.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">
                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.1.2</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">27 April 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Fixed Disbursed amount on dashboard.</li>
                            <li>Fixed Co Applicant & Guarantor Details discrepency issue.</li>
                            <li>Added Discrepency View Page.</li>
                            <li>Application early settlement state changed.</li>
                            <li>Fixed issues in Loan Repayment Module.</li>
                            <li>Updated House Hold Details listing page.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">
                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.1.1</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">21 April 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Added Disbursed amount on dashboard.</li>
                            <li>Changes in Loan Repayment Module.</li>
                            <li>Minor Fixes.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">
                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.0.9</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">26 March 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Updated Loan Application Form Printing View.</li>
                            <li>Shown Submitted Applications in Credit Bureau Files uploading panel.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">
                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.0.8</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">26 March 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Updates in Loan Recovery Module.</li>
                            <li>Added Sales Details API for TDS, TJS</li>
                            <li>Resolved Bugs in the portal.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">
                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.0.7</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">16 March 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Updates in application page.</li>
                            <li>Added Application Printing module.</li>
                            <li>Addition of Loan Recovery Module.</li>
                            <li>Added Dependent Education Details API</li>
                            <li>Updated Applications Page, Changed Title as per the filter applied</li>
                            <li>Fixed Responsiveness issue in Portal.</li>
                            <li>Updated Mobilizations API.</li>
                            <li>Resolved Bugs in the portal.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">
                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.0.6</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">18 February 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Fixed guarantor details data duplication issue.</li>
                            <li>Fixed Mobilizations Count on Dashboard.</li>
                            <li>Fixed Swagger issue in APIs.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">
                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.0.5</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">17 February 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Integrated Azure application Insights.</li>
                            <li>Updated View for Uploading Credit Bureau Files.</li>
                            <li>Fixed timeline customer acquired user issue.</li>
                            <li>Updated Mobilizations View. Added filter panel.</li>
                            <li>Updated Applications List Page, Added CNIC number of the applicant.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">

                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.0.4</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">15 February 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Updated design of dashboard, Added Live Data.</li>
                            <li>Updated Applications List Page, Added Filter.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">

                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.0.3</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">12 February 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Added Customer acquired date and time in applications listing.</li>
                            <li>Fixed issue in mobilizations listing due to next meeting date.</li>
                            <li>Updated design of dashboard.</li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="release">
                <div class="row heading">

                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.0.2</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">11 February 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Updated Download Data Web service for getting uploaded data into TT.</li>
                            <li>Updated Listing View for Applications.</li>
                            <li>Fixed error upon logging in to the Portal.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">

                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.0.1</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">10 February 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Changed Name Datacheck files to credit bureau files.</li>
                            <li>Updated Listing of applications in Credit bureau files list.</li>
                            <li>Updated Listing of uploaded files in Credit bureau files uploading module.</li>
                            <li>Updated Mobilizations Panel, Only those mobilizations should be shown that are not acquired.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="release">
                <div class="row heading">

                    <div class="col-md-6">
                        <h4 class="title">Portal Version : 2.0.0</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4 class="title">03 February 2021</h4>
                    </div>
                </div>
                <div class="row release-body">
                    <div class="col-md-12">
                        <ul>
                            <li>Display of TSS & TSA Applications.</li>
                            <li>Management of allowed deviation of applications.</li>
                            <li>Management of User Create, Update, etc.</li>
                            <li>Management of Workflow of Applications.</li>
                            <li>Management of Discrepancy of Applications.</li>
                            <li>Creations/Updations of Schedules for Applications.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


</body>
</html>