@using System.Globalization
@using Abp.Authorization.Users
@using Abp.Extensions
@using Abp.MultiTenancy
@model TFCLPortal.Web.Models.Account.LoginFormViewModel
@using Abp.Web.Security.AntiForgery
@using TFCLPortal.Configuration
@using TFCLPortal.Web.Resources
@using Abp.Configuration.Startup
@using Abp.Web.Mvc.Alerts
@inject TFCLPortal.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject IAlertManager AlertManager

@section Styles
{
    <environment names="Development">
        @*<link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />*@
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/css/util.css">
        <link rel="stylesheet" type="text/css" href="~/css/main.css">
        <link href="~/view-resources/Views/_Bundles/account-layout.min.css" rel="stylesheet" asp-append-version="true" />

        <!--===============================================================================================-->
    </environment>

    <environment names="Staging,Production">
        @*<link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />*@
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/css/util.css">
        <link rel="stylesheet" type="text/css" href="~/css/main.css">
        <link href="~/view-resources/Views/_Bundles/account-layout.min.css" rel="stylesheet" asp-append-version="true" />

        <!--===============================================================================================-->
    </environment>

}
@*<link rel="stylesheet" href="~/view-resources/Views/Account/new_login.min.css" asp-append-version="true" />*@

@section Scripts
{
    <environment names="Development">
        <!--===============================================================================================-->
        <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/bootstrap/js/popper.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/tilt/tilt.jquery.min.js"></script>
        <script>
            $('.js-tilt').tilt({
                scale: 1.1
            })
        </script>
        <!--===============================================================================================-->
        @*<script src="~/js/main-login.js"></script>*@
        <script src="~/view-resources/Views/_Bundles/shared-layout.min.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Account/Login.js" asp-append-version="true"></script>

    </environment>

    <environment names="Staging,Production">
        <!--===============================================================================================-->
        <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/bootstrap/js/popper.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/tilt/tilt.jquery.min.js"></script>
        <script src="~/view-resources/Views/Account/Login.min.js" asp-append-version="true"></script>

        <script>
            $('.js-tilt').tilt({
                scale: 1.1
            });

        </script>
        <!--===============================================================================================-->
        @*<script src="~/js/main-login.js"></script>*@
        <script src="~/view-resources/Views/_Bundles/shared-layout.min.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>

    </environment>
}

<style>
    .login100-form {
        width: 350px;
    }

    .wrap-login100 {
        width: 400px;
    }
</style>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <!--<div class="login100-pic js-tilt" data-tilt style="text-align:center">
                <img src="/Theame/images/bg.png" width="180px" alt="IMG">-->
            @*<img src="/images/img-01.png" alt="IMG">*@
            <!--<h4 style="margin-top:20px;">TALEEM FINANCE COMPANY LIMITED</h4>
            </div>-->

            <input type="hidden" id="txtUserId" value="@ViewBag.userid" />

            <span class="login100-form-title">
                <br />
                <b>Change Password</b>

            </span>

            <div class="wrap-input100 validate-input" data-validate="New Password is required">
                <input class="input100" type="password" placeholder="New Password" name="password" id="txtPassword">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Password is required">
                <input class="input100" type="password" name="confirmpassword" placeholder="Confirm New Password" id="txtConfirmPassword">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>

            <div class="container-login100-form-btn">
                <button id="LoginButton" class="login100-form-btn" type="submit" onclick="Validate()">
                    Submit
                </button>
                <a href="/Account/Login" style="margin-top:20px; color:green"> <i class="fa fa-angle-double-left"></i> Back to Login </a>
            </div>


        </div>
    </div>
</div>

<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("txtPassword").value;
        var confirmPassword = document.getElementById("txtConfirmPassword").value;
        if (password != confirmPassword) {
            abp.notify.error("Passwords do not match.", "Error");
        }
        else {
            ChangePass();
        }
    }

    function ChangePass(){
        var txtConfirmPassword = $('#txtConfirmPassword').val();
        var txtUserId = $('#txtUserId').val();
                $.ajax({
                    type: 'POST',
                    datatype: "json",
                    contenttype: 'application/json; charset=utf-8',
                    url: '@Url.Content("~/Account/ResetPasswordAsync")',
                    data: { 'password': txtConfirmPassword, 'UserId': txtUserId },
                     success: function (data) {

                         if (data.result == "Password has been changed succesfully") {
                             abp.notify.success(data.result, "success");
                             var url = '@Url.Action("Login", "Account")';
                             window.location.href = url;
                         }
                         else if (data.result == "Error") {
                            abp.notify.error("Please enter Minimim 8 Letters, Special Characters and Digits in the Password", "Error");
                         }
                    },
                    error: function (data) {

                        if (data == null) {
                             abp.notify.error("somthing was wrong ", "error");
                           // alert("Some error occure contact with admin..!");
                        }
                    }
                });
    }

</script>