@using System.Globalization
@using Abp.Authorization.Users
@using Abp.Extensions
@using Abp.MultiTenancy
@model TFCLPortal.Web.Models.Account.LoginFormViewModel
@using Abp.Web.Security.AntiForgery
@using TFCLPortal.Configuration
@using TFCLPortal.Web.Resources
@using Abp.Configuration.Startup
@using Abp.Web.Mvc.Alerts
@inject TFCLPortal.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject IAlertManager AlertManager

@section Styles
{
    <environment names="Development">
        @*<link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />*@
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/css/util.css">
        <link rel="stylesheet" type="text/css" href="~/css/main.css">
        <link href="~/view-resources/Views/_Bundles/account-layout.min.css" rel="stylesheet" asp-append-version="true" />

        <!--===============================================================================================-->
    </environment>

    <environment names="Staging,Production">
        @*<link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />*@
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/css/util.css">
        <link rel="stylesheet" type="text/css" href="~/css/main.css">
        <link href="~/view-resources/Views/_Bundles/account-layout.min.css" rel="stylesheet" asp-append-version="true" />

        <!--===============================================================================================-->
    </environment>

}
@*<link rel="stylesheet" href="~/view-resources/Views/Account/new_login.min.css" asp-append-version="true" />*@

@section Scripts
{
    <environment names="Development">
        <!--===============================================================================================-->
        <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/bootstrap/js/popper.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/tilt/tilt.jquery.min.js"></script>
        <script>
            $('.js-tilt').tilt({
                scale: 1.1
            })
        </script>
        <!--===============================================================================================-->
        @*<script src="~/js/main-login.js"></script>*@
        <script src="~/view-resources/Views/_Bundles/shared-layout.min.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Account/Login.js" asp-append-version="true"></script>

    </environment>

    <environment names="Staging,Production">
        <!--===============================================================================================-->
        <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/bootstrap/js/popper.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/tilt/tilt.jquery.min.js"></script>
        <script src="~/view-resources/Views/Account/Login.min.js" asp-append-version="true"></script>

        <script>
            $('.js-tilt').tilt({
                scale: 1.1
            });

        </script>
        <!--===============================================================================================-->
        @*<script src="~/js/main-login.js"></script>*@
        <script src="~/view-resources/Views/_Bundles/shared-layout.min.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>

    </environment>


    <script type="text/javascript">
    $('#btnReset').click(function () {
         debugger

        var Email = $('#Email').val();

        if (Email != "") {
            $.ajax({
                type: 'POST',
                datatype: "json",
                contenttype: 'application/json; charset=utf-8',
                url: '@Url.Content("~/Account/SendEmail")',
                data: { 'Email': Email },

                success: function (data) {
                    debugger
                    if (data.result == "Link has been sent to your email") {
                        abp.notify.success(data.result, "success");
                        var url = '@Url.Action("Login", "Account")';
                        window.location.href = url;
                    } else {
                        abp.notify.error(data.result, "error");
                        var url = '@Url.Action("Login", "Account")';
                        window.location.href = url;
                    }
                },
                error: function (data) {
                    debugger

                    if (data == null) {
                        abp.notify.error("somthing was wrong ", "error");
                        //alert("Some error occure contact with admin..!");
                    }
                }
            });
        }
        else {
            abp.notify.error("Please enter a valid Email Address ", "Error");

        }

            });
    </script>
}

<style>
    .login100-form {
        width: 350px;
    }

    .wrap-login100 {
        width: 400px;
    }
</style>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <!--<div class="login100-pic js-tilt" data-tilt style="text-align:center">
            <img src="/Theame/images/bg.png" width="180px" alt="IMG">-->
            @*<img src="/images/img-01.png" alt="IMG">*@
            <!--<h4 style="margin-top:20px;">TALEEM FINANCE COMPANY LIMITED</h4>
            </div>-->

            <input type="hidden" id="txtUserId" value="@ViewBag.userid" />

            <span class="login100-form-title">
                <br />
                <b>Forgot Password</b>

            </span>

            <div class="wrap-input100 validate-input" data-validate="The email is required">
                <input id="Email" class="input100" type="email" name="Email" placeholder="Enter Email Address" data-val-required="The email is required">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>

            <div class="container-login100-form-btn">
                @*<button id="LoginButton" class="login100-form-btn" type="submit" onclick="Validate()">
                        Submit
                    </button>*@
                <input class="login100-form-btn" type="submit" value="Reset Password" id="btnReset" />
                <a href="/Account/Login" style="margin-top:20px; color:green"> <i class="fa fa-angle-double-left"></i> Back to Login </a>
            </div>


        </div>
    </div>
</div>
